.login_background{
    height: 100vh;
    background-color: #F8F0D9;
}
.login_height{
    width: 80%;
    height: 70%;
}
.login_rigth_screen{
    background-image: url('/img/background_login.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.login_form{
    background-color: #3D3D49;
}

.login_height_form{
    height: 50px;
}

.login_button{
    border: none;
    background-color: #edc279 !important;
    border-radius: 0.25rem;
}
