.painel-height{
    height: 100vh;
}
.painel-width-layout{
    border: 1px solid black;
    width: 80%;
    height: 80%;
}
.painel-menu{
    height: 100%;
    background-color: tomato;
}

.painel-menu-link{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
.painel-heroi-img-width{
    width: 35%;
    height: 100px;
}
.painel-heroi-page{
    text-decoration: none;
}
.painel-heroi-description-img-width{
    width: 50%;
    height: 250px;
}

.edit{
    margin-right: 10px;
}
