.altura_login{
    height: 100vh;
    background-color: #8A2B06;
}
.container_login{
    /* border: 1px solid white; */
    height: 75vh;
}
.heigth_login{
    height: 70vh;

}
.background_login{
    height: 100%;
    background-image: url('/img/background_login.jpg');
    background-size: 100% 100%;
}

.form_login{
    height: 100%;
    background-color: white;
}
